@media screen and (max-width:1080px)/* tablet 992px */ {
    /* Header */

    h1{
        font-size: 64px; 
    }
    h5{
        font-size: 30px; 
    }
    img {
        max-width: 80%;
        height: auto;
    }
    a.navbar-brand {
        margin-left: 10px;
        margin-right: 0px;
    }
    .navlink {
        position: absolute;
        left: 29%;
    }
    header .nav-item {
        padding: 0px 2px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 23px 7px;
    }
    header .search {
        right: -15%; 
    }
    header .nav-item .nav-link {
    font-size: 24px;
}
    header .se {
        width: 70%; }
    .main .butto-1 button {
        margin: 60px 30px 60px 0px; }
    .main .butto-2 button {
        margin: 60px 40px 60px 30px; }

    /* Ourservices */

    .ourservices .textbox h2{
        font-size: 48px; }
    .ourservices .textbox h5{
        font-size: 28px; }
    .ourservices .pic img{
        height: 430px; }

    /* Care */

    .care .pic-1 .text-1 h2, .care .pic-2 .text-2 h2, .care .pic-3 .text-3 h2{
        font-size: 38px; }
    .care .pic-1 .text-1 p, .care .text-2 p, .care .text-3 p{
        font-size: 23px; }

    /* Animals */

    .animals .pic img{
        height:430px }
    .animals .textbox h2 {
        font-size: 45px; }
    .animals .textbox h5 {
        font-size: 26px; }
    .buy .pic-1 .text-1 h2, .buy .pic-2 .text-2 h2, .buy .pic-3 .text-3 h2 {
        font-size: 40px; }
    .buy .butto button {
        font-size: 30px; }
    .buy .butto button {
    padding: 4px 20px;
    font-size: 30px;
    margin-left: 45px; }

        /* Recent */

    .recent .pic .text h2 {
        font-size: 27px; }
    .recent .pic .text p {
        font-size: 15px;
        margin-top: 10px; }
    .recent .pic .text h3 {
        font-size: 20px;}  
        
        /* Footer */

    footer h2 {
        font-size: 45px; }
    footer p {
        font-size: 24px; }
    footer .third .btn-1 {
      padding: 20px 150px; }
}

@media screen and (max-width:991px) /* ipad 768px */ {
   
    h1{
        font-size: 50px; }
    h5 {
            font-size: 25px; }
    img {
                max-width: 100%;
                height: auto;
    }
    .main img{
        padding-top: 50px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 21px 7px 0px 0px;
    }
    header .search {
        right: 280px;
        top: 120px;
    }
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        padding-top: 50px;
    }
    .navlink{
        margin-top: 10px;
    }
    .main .butto-1 button {
                margin: 50px 20px 60px 0px; }
    .main .butto-2 button {
                margin: 50px 40px 60px 30px; }


/* Ourservices*/

.ourservices {
    padding-top: 0px;
    padding-bottom: 50px;
}
.ourservices .pic img {
    height: 300px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 70px;
}
.ourservices .textbox {
    margin-top: 85px;
}
.ourservices .textbox h2 {
    font-size: 35px;
}
.ourservices .textbox h5 {
    font-size: 21px;
}

/* Care */

.care .img-1, .care .img-2, .care .img-3{
    text-align: center;
}
.care .pic-1 .text-1 h2, .care .pic-2 .text-2 h2, .care .pic-3 .text-3 h2 {
    font-size: 28px;
}
.care .pic-1 .text-1 p, .care .text-2 p, .care .text-3 p {
    font-size: 18px;
}
.care .textbox h5 {
    margin-bottom: 40px;
    margin-top: 10px;
}

/* Animals */

.animals .pic img {
    height: 300px;
    width: 300px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.animals .textbox h2 {
    font-size: 35px;
}
.animals .textbox {
    margin-top: 70px;
}
.animals .textbox h5 {
    font-size: 21px;
}

/* Buy */

.buy .textbox h5 {
    margin-bottom: 40px;
    font-size: 25px;
    margin-top: 10px;
}
.buy .butto button {
    padding: 5px 30px;
    font-size: 30px;
    margin: 10px 0px 60px 0px;
}

/* Team */
    .team .textbox h1 {                    
        font-size: 50px;
    }
    .team .textbox h5 {
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 25px;
    }
    .team .pic img {
        max-width: 100%;
        height: auto;
    }
    .team .pic .text h2 {
        font-size: 27px;
        margin-top: 15px;
    }
    .team .pic .text p {
        font-size: 27px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

/* Clients */

    .clients p {
        font-size: 35px;
    }
    .departament p, .vaccinations p {
        font-size: 35px;
    }
    .clients h3, .departament h3, .vaccinations h3 {
        font-size: 35px;
    }

/* Recent */

    .recent .pic img{
        max-width: 100%;
        height: auto;
    }
    .recent .pic .text h2 {
        font-size: 19px;
    }
    .recent .textbox h1 {
        padding-top: 40px;
        font-size: 50px;
    }
    .recent .textbox h5 {
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 25px;
    }
    
/* Footer */

    .about, .services, .third {
        margin-bottom: 0px;
    }
    footer h2 {
        font-size: 30px;
    }
    footer p {
        font-size: 17px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    footer .third {
        margin-bottom: 170px;
    }
    footer .third .box {
        margin-top: 50px;
    }
    footer .third .btn-1 {
        padding: 20px 130px;
    }
    footer .third .btn-2 {
        padding: 4px 4px 4px 4px;
    }
}

@media screen and (max-width:767px) /* mobile 360px */ {
    a.navbar-brand {
        width: 60%;
    }
    h1{
        font-size: 40px; }
    h5 {
            font-size: 18px; }
    .main img {
        padding-bottom: 50px;
    }
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        padding-top: 66px;
    }
    header .search {
        right: -106px;
        top: 120px;
    }
    .main h1 {
        font-size: 39px;
    }
    .main .butto-2 button {
        margin: 30px 0px 5px 10px;
        padding: 20px 30px;
    }
    .main .butto-1 button {
        margin: 40px 0px 0px 0px;
        padding: 20px 30px;
    }
    .main img {
        padding-bottom: 0px;
        max-width: 0;
        padding-top: 0px
    }

/* Ourservices  */
            
.ourservices {
    padding-top: 100px;
    padding-bottom: 100px;
}
.ourservices .pic img {
    height: 300px;
    width: auto;
    margin: 0px 0px;
}
.ourservices .pic{
    text-align: center; 
}
.ourservices .textbox {
    text-align: center;
    margin-top: 0px; 
}
.ourservices .textbox h5 {
    margin-top: 15px;
}
.ourservices .textbox .butto-1 button {
    margin: 20px 0px 0px 0px;
}

/* Care */

.care .pic-1 .text-1 h2, .care .pic-2 .text-2 h2, .care .pic-3 .text-3 h2 {
    font-size: 44px;
}
.care .pic-1 .text-1 p, .care .text-2 p, .care .text-3 p {
    font-size: 28px;
}

/* Animals */

.animals .textbox {
    margin-top: 0px;
    text-align: center;
}
.animals .pic img {
    height: 300px;
    width: auto; 
}
.animals .textbox .butto-1 button {
    margin: 20px 0px 50px 0px;
}
.animals .textbox h5 {
    margin-top: 20px;
}

/* Buy */

.buy .textbox h5 {
    font-size: 18px;
}

/* Team */

    .team .textbox h1 {
        font-size: 40px;
    }
    .team .textbox h5 {
        font-size: 18px;
    }

/* Doctor */

.departament p, .vaccinations p{
    margin-bottom: 0px;
}
.clients, .departament, .vaccinations {
    margin-top: 50px;
}
.vaccinations {
    margin-bottom: 50px;
}

/* Recent */

.recent .textbox h1 {
    font-size: 40px;
}
.recent .textbox h5 {
    font-size: 18px;
}
.recent .pic {
    width: 100%;
    margin-bottom: 30px;
}
.recent .pic .text h2 {
    font-size: 32px;
}
.recent .pic .text p {
    font-size: 18px;
}

/* Footer */

.services, .third {
    margin-top: 20px;
}
.about, .services, .third {
    text-align: left;
}
footer .third {
    text-align: left;
}
footer .third .socialmedia img {
    max-width: 70%;
}
}